<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="School" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=School;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="MHCC_sales" connectionString="Data Source=192.168.2.121\sqlexpress;Initial Catalog=MHCC_sales;Persist Security Info=True;User ID=sa;Password=838344" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>